<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>595977686563-ugk4m4e6eqh8pi26udgs33duf0q6ma15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595977686563-ugk4m4e6eqh8pi26udgs33duf0q6ma15</string>
	<key>API_KEY</key>
	<string>AIzaSyBpLH_KXKf5Xnt6rtzTg9mde16slO3Z8IQ</string>
	<key>GCM_SENDER_ID</key>
	<string>595977686563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.brandonwalter.rowdy</string>
	<key>PROJECT_ID</key>
	<string>rowdy-dev-6e4d0</string>
	<key>STORAGE_BUCKET</key>
	<string>rowdy-dev-6e4d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595977686563:ios:ed4d86728425846fb8eb96</string>
</dict>
</plist>